@model IEnumerable<ormApp.Models.Expense>

@{
    ViewData["Title"] = "Expenses";
}

<!-- Посилання на ваш файл стилів -->
<link rel="stylesheet" href="~/css/styles.css" />

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <p>Use the menu to navigate.</p>
</div>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Home/Users">Users</a></li>
        <li><a href="/Home/Incomes">Incomes</a></li>
        <li><a href="/Home/Expenses">Expenses</a></li>
    </ul>
</nav>


<table class="table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <td>@expense.Amount</td>
                <td>@expense.Date.ToShortDateString()</td>
                <td>@expense.CategoryId</td>
                <td>@expense.User.Username</td> <!-- Відображення username -->
            </tr>
        }
    </tbody>
</table>
